<header>
	<p>
		<q>That snizz is straight up deloicious.</q>
		<br>
		&ndash; Jean Ralphio Saperstein
	</p>
</header>
<section>
	<div class="button">
		<button>~swag~</button>
	</div><!--
	--><div class="gif">
		where the gif goes
	</div>
</section>
<footer>
	<p>Made with love and giggles by the Moonbeam Palace. <br> Powered by giphy.</p>
</footer>

