<header>
	<p>
		<q>That snizz is straight up deloicious.</q>
		<br>
		&ndash; Jean&#45;Ralphio Saperstein
	</p>
</header>
<section>
	<div class="gif">
    <%= render "gif"%>
  </div>
	<div class="button">
		<button><%= link_to "~swag~", gif_path, id: "a_gif", remote: true %></button>
	</div>
</section>
<footer>
	<p>Made with love and giggles by the Moonbeam Palace. <br> Powered by giphy.</p>
</footer>

